<!DOCTYPE html>
<html lang="pt"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="UTF-8">
<title>Inicio</title>
<style>
 body{
	background-color: aquamarine;
}
</style>
</head>
<body>


       <!-- Página de inicio com os dois links de opções   -->
    <h1>Bem vindo </h1>

<!-- link para as opções -->
    <a href="/Empresa/opcao">Opções para Empresa:</a><br>
    <a href="/Usuario/opcao">Opções para Usuário:</a><br>
    
         
       <form th:action="@{/logout}" method="post">
         <input type="submit" value="Sair"/>
       </form>

</body>
</html>