<!DOCTYPE html>
<html lang="pt"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Listagem das vagas</title>
<!-- jQuery Autocomplete -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <script>
       $(function (){
          $("#vagas").autocomplete({
	        source:"/Usuario/autocompleteVagas",
	        minlength:1,
	         select: function(event, it){
		        this.value=it.item.label;
		        $("#idvagas").val(it.item.value);
		        return false;
             }
           })
         });
 </script>

</head>
<body>
      <h1>Listar Vagas</h1>
<div th:if="${msgSucesso} != null">
 <b  th:text="${msgSucesso}" style="color: blue;"></b>
  <br/><br/>
 </div>
 
     
     <!-- Esse formulário  enviar os dados com uma url lista inicial do controle,uma url para o método especifico de listar -->
    <form th:action="@{/Usuario/autocompleteVagas}" th:object="${usuario}" method="get"> 
             
      <table>
          
        
          <tr>
           <td>Nome:</td>
           <td>    
           <input type="text" th:field="${usuario.nome}"/>
           </td>
         </tr>
           <tr>
           <td>Email:</td>
           <td>
            <input type="email" th:field="${usuario.email}"/>
           </td>
         </tr>
         <tr>
           <td>Senha:</td>
           <td>
           <input type="password" th:field="${usuario.senha}"/>
           </td>
          <tr>
          
           <td> Vagas: </td>
            <td >
              <input id="vagas" th:field="${usuario.vagas.titulo}"/>
              <input id="idvagas" type="hidden" th:field="${usuario.vagas.id}"/>
      </table>
         
         <input type="submit" value="Inscrever"/>
           <input type="submit" value="Voltar"
          formaction="/" formmethod="get"/>
           
     </form>
         <div  th:if="${not #lists.isEmpty(listaVagas)}">
         <table>
          <tr>
            
            <th>Estado</th>
            
            <th>Cidade</th>
            
            <th>Área</th>
            
            <th>Título</th>
            
            <th>Descrição</th>
            
            <th>Status</th>
            
            <th>Opções</th>
            <th th:if="${listaVagas}!= null"></th>
          </tr>  
            <tr th:each=" v: ${listaVagas}">
               
               <td th:text="${v.estado}"></td>
               
               <td th:text="${v.cidade}"></td>
               
               <td th:text="${v.area}"></td>
               
               <td th:text="${v.titulo}"></td>
               
               <td th:text="${v.descricao}"></td>
               
               <td th:text="${v.status}"></td>
               
               <td th:if="${listarTodasVagas}"></td>
                 <td>
                  
                <a th:href="'/Vagas/editarVaga/' + ${v.id}">Inscrever-se</a>
                
                 <a th:href="'/Vagas/excluir/' + ${v.id}" th:onclick="if(!confirm('Deseja excluir essa vaga?'))return false">cancelar
                 
                 </a>
                
              </td>
            </tr>
            
         </table>
         </div>
</body>
</html>